@using Microsoft.AspNetCore.Identity
@using Guandian.Data.Entity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    var Avatar = User.FindFirst(c => c.Type == "urn:github:avatar")?.Value;
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown d-inline-flex">
                <a class="nav-link ">
                    <img src="@Avatar" width="26" height="26" style="border-radius:50% !important" />
                </a>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="userDropdown" href="#" aria-haspopup="true" aria-expanded="false">
                    @UserManager.GetUserName(User)
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" asp-page="/Account/Manage/Index" asp-area="Identity">我的账号</a>
                    @if (user.IsMember)
                    {
                        <a class="dropdown-item" asp-action="Create" asp-controller="Practknows" asp-area="">分享践识</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-page="/Account/Manage/BeContributor" asp-area="Identity">成为贡献者</a>
                    }
                    <button type="submit" class="dropdown-item">退出</button>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <environment include="development">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">注册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">登录</a>
            </li>
        </ul>
    </environment>

}