<style>
    .sidebar {
        position: absolute;
        top: 20%;
        right: 0px;
    }
</style>
<div class="d-none d-md-block sidebar">
    <div class="text-center" style="font-size:14px;font-weight:bold;color:#333333">
        <span>关注公众号!</span>
        <br />
        <span>掌握最新资讯!</span>
    </div>
    <img src="~/images/qrcode_258.jpg" alt="TechViews" width="160"/>
</div>