@{
    ViewData["Title"] = "践识管理";
}
<div class="row">
    <div class="col-auto">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" asp-action="Manage">我的践识</a>
            <a class="nav-link" asp-action="Review">待审践识</a>
            <a class="nav-link active" asp-action="Contribution">我的贡献</a>
        </div>
    </div>
</div>

