@{
    ViewData["Title"] = "关于";
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <section class="aim">
                <h3>宗旨</h3>
                <p>
                    我们坚持互联网的基本精神：开放、分享、自由！本站点主要为国内用户，提供微软相关的资讯、优质的教学视频内容、常用的资源下载以及在线交流等一站式服务！
                </p>
                <p>
                    立足当下，着眼未来！在跨平台、云计算、AI智能等领域，微软都以开放的姿态取得了不错的发展。我们致力于推广开放易用的技术，让技术更好的为人服务，创造真正的价值。学习微软相关的技术，使用微软提供的服务，关注创新，共同创造更加美好的世界。
                </p>
            </section>
            <section class="explanation">
                <h3>内容说明</h3>
                <p>
                    本站内容部分来自微软官方，我们对内容进行分类整理，为的是方便用户可以快捷的查找官方的内容，所有官方内容都会有标注原始链接!
                </p>
            </section>
        </div>
    </div>
</div>

