@{
    ViewData["Title"] = "联系";
}
<div class="container">
    <div class="col-md-10">
        <section class="join">
            <h3>联系我们</h3>
            <p>
                有任何建议，可发送邮件至:
                <a href="mailto:zpty@outlook.com">zpty@outlook.com</a>
            </p>
            <p>
                如果你想参与项目建设，可以访问我们的
                <span>
                    <a href="https://dev.azure.com/msdev-zpty/guandian.tech" target="_blank">Azure DevOps项目</a>
                </span>
            </p>
            <p>
                同时，你可以加入我们的交流群：
                <a class="" target="_blank"
                   href="//shang.qq.com/wpa/qunwpa?idkey=ebbb97aa70518e014b2539f45005e1c67f8d8f893794968ec4245b96516a079e">
                    <img id="qq_group" border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="TechViews社区" title="加入TechViews社区群">
                </a>
            </p>
        </section>
    </div>
</div>

