@using System.Web;
@{
    ViewData["Title"] = "主页";
    Layout = "";
}
@model NewsListViewModel
<header>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</header>

<div class="row">
    <div class="col-md-8 offset-md-2 p-0">
        <h6>
            近期新闻速览，就上TECH资讯！
        </h6>
        <br />
        @foreach (var bingNews in Model.NewsList)
        {
            <div class="row news-list bg-white m-0 mb-2 p-2">
                <div class="content col-md-8">
                    <div class="news-title my-1">
                        <h5>
                            <strong>
                                @bingNews.Title
                            </strong>
                        </h5>
                    </div>
                    <!-- 图片 -->
                    <div>
                        <img src="@bingNews.ThumbnailUrl&w=600" width="100%" />
                    </div>
                    <div class="news-description">
                        @bingNews.Description
                    </div>
                </div>
                <br />
            </div>
        }
        <h6 style="color:red">
            点击【阅读原文】查看完整内容!
        </h6>
    </div>
</div>

