/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body, html {
    font-size: 14px;
}

* {
    border-radius: 0 !important;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.news-list {
    margin: 1rem 0;
}

img.bingnews {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.content {
    padding: 0 1rem;
}

.news-title a {
    color: rgb(21,21,21) !important;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.news-sectitle {
    color: #3d3d3d;
    margin-bottom: 3px;
    font-size: 0.9rem;
}

.news-description {
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
    font-size: 0.9rem;
}
