@page
@model BeContributorModel
@{
    ViewData["Title"] = "成为贡献者";
}
<h4>成为贡献者</h4>
<hr />
@* 判断是否已用github登录 *@
<p>成为贡献者可以分享践识，通过Github授权登录，贡献者可以共同维护任意的践识文章。</p>
@if (Model.IsLoginGithub)
{
    <p>
        我们已经邀请您成为贡献者，请
        <a href="https://github.com/orgs/TechViewsTeam/invitation" target="_blank">点此</a>
        跳转到Github接受该邀请。
    </p>
}
else
{
    <form asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
            <button type="submit" class="btn btn-sm btn-outline-primary" name="provider" value="GitHub" title="使用GitHub登录">GitHub授权登录</button>
        </div>
    </form>
}


