@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>管理您的账号</h2>

<div>
    <h4>修改账号设置</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
